tfx-bsl==1.7.0
tensorflow-transform==1.7.0
apache-beam==2.38.0
tensorflow-addons==0.16.1
tensorflow==2.8.0
keras==2.8.0
matplotlib==3.5.1
graphviz==0.19.1
pygraphviz==1.9
pyparsing==2.4.7
tabulate==0.8.9
pandas==1.4.1
